/*MENU*/
.navbar {
  background-color: #261c1a;
}

.link-color {
  color: #d5ccc7 !important;

}

.link-color:hover {
  font-weight: bold !important;
  color: white !important;
}

.logo-nav {
  width: 140px;
  ;
}


/*BLOCO AUTORES*/
.container-custom-bloco-autores {
  padding: 4rem 2rem;
  background-color: #ada0a2;
}

.fw-bold {
  color: #261c1a;
  font-weight: bold;

}

.lead {
  color: #261c1a;

}

.img-placeholder {
  width: 100%;
  max-width: 400px;
  height: auto;
  background-color: #cccccc;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-placeholder svg {
  width: 50%;
  height: 50%;
  fill: #999999;
}

.img-fluid {
  border-radius: 0.5rem;
}

/*BLOCO LIVROS*/
.container-custom-bloco-livros {
  padding: 4rem 2rem;
  background-color: #d5ccc7;
  color: #261c1a;
}

.img-placeholder {
  width: 100%;
  max-width: 400px;
  height: auto;
  background-color: #cccccc;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-placeholder svg {
  width: 50%;
  height: 50%;
  fill: #999999;
}

.img-fluid {
  border-radius: 0.5rem;
}

/*FORMULÁRIO*/

.form-section {
  background-color: #ada0a2;
  color: #261c1a;
  padding: 4rem 2rem;
  text-align: center;
}

.mb-4 {
  color: #261c1a;
}

.form-control {
  max-width: 400px;
  margin: 0.5rem auto;
  margin-bottom: 10px;
  border: 2.3px solid#261c1a;
}

.btn-custom {
  background-color: white;
  color: rgb(121, 44, 199);
  border-radius: 4px;
  border: 2.3px solid rgb(121, 44, 199);
  padding: 0.5rem 2rem;
  margin-top: 1rem;
}

.btn-custom:hover {
  background-color: #7b81d6;
  color: white;
}

/*RODAPÉ*/

.footer-bottom-section {
  padding: 1.5rem 0;
  text-align: center;
  background-color: #261c1a;
  color: #d5ccc7;
}